@model TaskRapidAPI.Models.UsdTryViewModel
<div class="card">
    <h3>USD/TRY Değeri</h3>
    <table>
        <tr><th>USD</th><th>TRY</th></tr>
        <tr><td>1</td><td>@Model.data.exchange_rate</td></tr>
    </table>
</div>
